/* small screen */
/* all */
*{
  text-align: center;
  color: #666;
}
body{
  margin: 0%;
}
section{
  margin: 0 auto;
}
table{
  margin: 0 auto;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}

/* header */
nav{
  display: flex;
  justify-content: space-around;
}
nav div{
  width: 20%;
}
a{
  margin: auto;
  line-height: 64px;
  text-decoration: none;
  color: black;
  display: block;
}
a:hover{
  background-color: #eee;
}

/* main */
main > img{
  opacity: 0.5;
}
main section{
  margin: 32px 0;
}
section h1{
  width: 100px;
  border-bottom: 2px solid #666;
  margin: 0 auto;
}
/* about */
#about .name {
  margin: 30px;
  display: flex;
  justify-content: center;
}
#about img{
  border-radius: 50%;
  margin-right: 16px;
}
#about h2{
  font-size: 24px;
  margin: auto 0;
}
#about table{
  margin-bottom: 30px;
}
#about th{
  text-align: right;
}
#about td{
  text-align: left;
}
#about p {
  max-width: 640px;
  margin: 0 auto;
}
/* works */
#works section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 10px;
  margin: 16px 10px;
}
#works div:hover{
  opacity: 0.6;
} 
/* news */
#news td{
  border-bottom: 2px solid #ccc;
}
#news table{
  margin: 16px auto;
  padding: 0 16px;
  line-height: 32px;
}
/* contact */
#contact dd > input{
  width: 60%;
  text-align: start;
}
#contact textarea{
  width: 60%;
  text-align: start;
}

/* footer */
footer{
  background-color: black;
}
small{
  color: white;
}

/* large screen */
@media(min-width: 650px){
  /* header */
  header{
    display: flex;
  }
  header h1{
    margin-left: 50px;
  }
  nav{
    margin-left: auto;
  }
  a{
    width: 100px;
  }
  /* main */
  /* about */
  /* works */
  #works section{
    margin: 16px 20%;
    grid-template-columns: repeat(3, 1fr);
  }
  /* news */
  #news table{
    width: 640px;
    line-height: 50px;
  }
  /* contact */
  #contact dd > input{
    width: 320px;
  }
  #contact textarea{
    width: 320px;
  }
  /* footer */
}



