/* small screen */
/* all */
*{
  font-size: 100%;
  text-align: center;
  color: #666;
}
body{
  margin: 0%;
}
body h1{
  font-size: 24px;
}
section{
  margin: 0 auto;
  padding: 32px 0;
}
table{
  margin: 0 auto;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}

/* header */
header h1{
  font-size: 32px;
}
nav{
  display: flex;
  justify-content: space-around;
}
nav div{
  width: 20%;
}
a{
  margin: auto;
  line-height: 64px;
  text-decoration: none;
  color: black;
  display: block;
}
a:hover{
  background-color: #eee;
}

/* main */
main > img{
  opacity: 0.5;
  filter: blur(2px);
}
main section{
  margin: 32px 0;
}
section h1{
  width: 100px;
  border-bottom: 2px solid #666;
  margin: 0 auto;
}
/* about */
#about .name {
  margin: 30px;
  display: flex;
  justify-content: center;
}
#about img{
  border-radius: 50%;
  border: #ccc solid 1px;
  margin-right: 16px;
}
#about h2{
  font-size: 24px;
  margin: auto 0;
}
#about table{
  margin-bottom: 30px;
}
#about th{
  text-align: right;
}
#about td{
  text-align: left;
}
#about p {
  max-width: 640px;
  margin: 0 auto;
}
/* works */
#works section{
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 10px;
  margin: 16px 32px;
}
#works div{
  background-color: #eee;
  padding: 10%;
}
#works div:hover{
  opacity: 0.6;
} 
/* news */
#news td{
  border-bottom: 2px solid #ccc;
}
#news table{
  margin: 16px auto;
  padding: 0 16px;
  line-height: 32px;
}
/* contact */
#contact {
  max-width: 650px;
  margin: 0 auto 100px auto;
}
#contact table {
  width: 100%;
}
#contact td input,
#contact td textarea {
  width: 90%;
  border: solid 1px #ccc;
  padding: 10px;
  text-align: start;
  font-weight: bold;
}
#contact .button input {
  text-align: center;
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #333;
}
#contact .button input:hover {
  background: #fff;
  color: #333;
}
/* footer */
footer{
  background-color: #333;
}
small{
  color: white;
}

/* large screen */
@media(min-width: 650px){
  /* header */
  header{
    display: flex;
  }
  header h1{
    margin-left: 50px;
  }
  nav{
    margin-left: auto;
  }
  a{
    width: 100px;
  }
  /* main */
  /* about */
  /* works */
  #works section{
    width: 50%;
    min-width: 550px;
    margin: 16px auto;
    grid-template-columns: repeat(3, 1fr);
  }
  /* news */
  #news table{
    width: 650px;
    line-height: 50px;
  }
  /* contact */
  /* footer */
}



